[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
automata = {ref = "master",git = "https://github.com/automata-tech/eva_python_sdk.git"}
numpy = "*"

[requires]
python_version = "3.5"
